b {
  color:#63ffd0;
}

.Collapsible {
  border: 0.2em solid white;
  background-color: #060f4f;
  cursor: pointer;
  margin: 2%;
  text-align: center;
}

.Collapsible__contentInner {
  text-align: left;
}

.faq-body {
  background-color: #2D68AB;
  color: white;
  padding: 2%;
  font-size: 1.3em;
}

img {
  height: auto;
  width: 100%;
}

.titles {
  color: #060f4f;
  font-weight: bold;
}