b {
  color:#63ffd0;
}

.faq-body {
  background-color: #2D68AB;
  color: white;
  padding: 5%;
}

img {
  height: auto;
  width: 100%;
}

.paragraphs {
  margin: 3%;
}

.titles {
  color: #060f4f;
  margin: 5%;
}

