.locationData {
  background-color: #2D68AB;
  color: #CCE1E3;
  height: 100vh;
}

.weather-icon {
  height: 20vh;
  width: 50vw;
}

.good {
  color: #AEDA71;
}

.moderate {
  color: #F4D768;
}

.risky {
  color: #EF9F64;
}

.unhealthy {
  color: #EC7372;
}

.very-unhealthy {
  color: #A27CB8;
}

.hazardous {
  color: #925D72;
}
