.form {
  background-color: #060f4f;
}

label {
  color: white;
  font-size: 1.5em;
}

select {
  background-color: white;
  border: none;
  color: black;
  font-size: 1.2em;
  margin: 5% 0;
  width: 50%;
}
