header {
  background-image: url(../../assets/maddison-mcmurrin-GDumtPpJsT4-unsplash.jpg);
  padding: 3%;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
}

.link {
  color: black;
}