header {
  background-image: url(../../assets/maddison-mcmurrin-GDumtPpJsT4-unsplash.jpg);
  padding: 3%;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.link {
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  margin-left: 40%;
  position: fixed;
  z-index: 100;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
   .link {
    margin-left: 80%;
  }
}

@supports (-webkit-touch-callout: none) {
  .link {
   margin-left: 40%;
 }
}
