@import '../src/Components/Header/_Header.scss';
@import '../src/Components/Faq/_Faq.scss';
@import '../src/Components/App/_App.scss';
@import '../src/Components/Error/_Error.scss';
@import '../src/Components/LocationData/_LocationData.scss';
@import '../src/Components/Selector/_Selector.scss';

body {
  margin: 0;
  padding: 0;
  background-color: #2D68AB;
  font-family: 'Open Sans', sans-serif;
}

#blockColorblindContent {
  display: none;
}

@media only screen and (max-width: 425px) {
  .form {
    display: flex;
    flex-direction: column;
  }
}